body {
margin: 0;
font-family: Arial, sans-serif;
background: #0f172a;
color: #e5e7eb;
}


header {
text-align: center;
padding: 20px;
background: linear-gradient(90deg, #777c88, #1e40af);
}


.about {
display: flex;
gap: 20px;
padding: 40px;
}


.about img {
width: 200px;
border-radius: 50%;
}


.skills, .projects {padding: 10px 30px;
}


.chatbot {
position: fixed;
right: 20px;
bottom: 20px;
width: 300px;
background: #3a4369;
border-radius: 10px;
box-shadow: 0 0 15px rgba(0,0,0,0.5);
}


.chat-header {
background: #6a6dc8;
padding: 10px;
text-align: center;
font-weight: bold;
}

#chat-body {
height: 250px;
overflow-y: auto;
padding: 10px;
}


#user-input {
width: 80%;
padding: 8px;
}


button {
width: 20%;
background: #2563eb;
color: rgb(245, 239, 239);
border: none;
}